
body {
  margin: 0;
  padding: 0;
  /*font-family: 'Noto Sans Mandaic', sans-serif;*/  
  font-family: 'Nunito', sans-serif;
  background-color: rgb(1, 52, 117);
}


ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header{
  width: 95%;
  position: fixed;
  display: flex;
  /*background-color: rgb(1, 19, 39); */ 
  background-color: rgb(3, 3, 83); 
  /*background-color: aquamarine;*/
  align-items: center;
  justify-content: space-between;
  padding: 0em 6em 0em 1em;  
  border-bottom: solid 1px white;
  
}

header a i {
  color: white;
  font-size: 3em;
  padding: 0.5em 10.4em 0.5em 0.5em;
}

/*.checkbtn i {
  color: white;
}*/

#check {
  display: none;
}

.checkbtn {            /* Icono 3 rayas horizontales  */
  font-size: 35px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 45px;
  cursor: pointer;
  display: none;
}

.checkbtn1 {      /* Icono X  */
  font-size: 35px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 45px;
  cursor: pointer;
  display: none;
}

header nav ul {
  display: flex;
  gap: 1.5em;
  /*border: solid 1px black;  */
  margin-right: 4em;
}

header nav ul li a {
  color: white;
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
  
}

.Lista:hover {    
  font-style: oblique;
}

footer {
  background-color: rgb(3, 3, 83);  
  /*background-color: rgba(3, 3, 48, 0.699);*/
  padding-bottom: 50px;
}

footer h2 {
  color:white;
  font-size: 2em;
  margin: 0em;
  padding: 0em 0.5em 0em 1em;
  /*border: solid 1px blueviolet;*/
}

/*nav ul li a {
  color: black;    
  font-size: 15px;
  border: solid 2px yellow;
} */ /*Aquí*/

footer p {
  color: white;
}

footer div {
  padding: 1em 0em 1em 0em;
  /*border: 1px solid red;  */
}

.section-1 {
  width: auto;
  height: auto;
  background-color: rgb(1, 52, 117);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding: 8em 10em 1em 3em;  */
  padding-top: 10%;
  padding-right: 15%;
  padding-left: 7%;
  padding-bottom: 1%;
  /*border: solid 1px yellow;*/
}
.acerca-imagen img {
  width: 200%;
  border-radius: 120px;
  border: 1px solid black;  /*Borde de la foto JHG*/
}
.acerca-de {  
  margin: 0;
  padding: 0em 2em 0em 1em;
}
.acerca-de h2 {
  color:white;
  font-size: 2em;
  margin: 0em;
  padding: 0em 0.5em 0em 0em;   
  text-align: center;
}

.titulo1 {
  color:white;
  font-size: 1.5em;  
  /*border: 1px solid red; */
  text-align: start;
}

.parrafo1 {
  width: auto;
  /*border: solid 1px blueviolet;*/
  padding-right: 5%;
  text-align: justify;
}

.section-2 {
  width: auto;
  height: auto;
  margin: 0px;
  border-bottom: 0.1em solid white; 
  padding: 0%;
  background: rgb(1, 52, 117);  
}

.section-2 img {
  width: 100%;
  height: auto;
  /*height: 50%;*/
  border-top: 0.1em solid white;
  margin: 0px;  
}


#Bloque3 {
  background-color: rgb(1, 52, 117);
  margin-top: auto;
  padding-top: 0%;
}

#Bloque3 h2 {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 0.5em;
  padding-left: 4%;
  font-size: 2em;
  /*border: 0.1em solid red; */
}

.linkedin {
  color: white;
  height: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  /*align-content: flex-start;*/
  /*border: solid 1px red;*/
  padding: 0px;
}

.linkedin a i {
  padding: 0em 0.5em 0em 1em;
  font-size: 1.5em;
  /*border: solid 1px yellow;*/
}

.linkedin a {  
  color: white;
}

.whatsapp {
  color: white;
  height: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  /*align-content: flex-start;*/
}

.whatsapp a i {
  padding: 0em 0.5em 0em 1em;
  font-size: 1.5em;
  color: white;
}

.whatsapp a {  
  color: white;
}

.section-3 {
  display: flex;
  align-content: center;
  justify-content: space-between;  
  background-color: rgb(1, 52, 117);
  margin: 0px;
  /*border: 0.2em solid yellow;*/
}

.img3 {
  margin: 1em;
  /*border: solid 0.4em rgb(1, 19, 39);  */ 
  border: solid 0.1em white;  
  border-radius: 1em;
  
}

/*.section-4 {
  display: flex;
  align-content: center;
  justify-content: space-between;  
  background-color: rgb(1, 52, 117);
  margin: 0px;  
}*/

.servicio_1 {
  color: white;
  margin-left: 2em;
  /*margin-right: 2.0em;*/
  margin-bottom: 3em;
  /*padding: 0%;*/
  /*border: 0.2em solid yellow;*/
}

.descrip_1 {
  color: white;
  padding-left: 2em;
  padding-right: 2em;
  /*border: 0.2em solid green;*/
}

.servicio_2 {
  color: white;
  /*margin-left: 2em;*/
  /*margin-right: 2.0em;*/
  margin-bottom: 3em;
  /*padding: 0%;*/
  /*border: 0.2em solid yellow;*/
}

.descrip_2 {
  color: white;
  padding-left: 2em;
  padding-right: 2em;
  /*border: 0.2em solid green;*/
}

.servicio_3 {
  color: white;
  /*margin-left: 2em;*/
  margin-right: 2em;
  margin-bottom: 3em;
  /*padding: 0%;*/
  /*border: 0.2em solid yellow;*/
}

.descrip_3 {
  color: white;
  padding-left: 2em;
  padding-right: 2em;
  /*border: 0.2em solid green;*/
}

/*nav ul {
  border: solid 2px yellow;
  color: yellow;
}*/

.section-4 {
   text-align: center;
   background-color: rgb(1, 52, 117);
   border: 1px solid white;
   border-radius: 3px;
   color: white;
   width: 80%;
   margin: 10px auto;
   padding: 50px;
}

.form-header h1 {
  font-size: 30px;
  margin-bottom: 1px;
  margin-top: 1px;
  /*border: solid 1px red;*/
}

.formulario {
  background-color: #f6f7f8;
  /*border: 1px solid red;*/
  border-radius: 18px; 
  width: 70vw;
  padding: 5%;
  margin: 1% 0% 2% 1%;
} 

.form-row {
  margin-bottom: 1%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  /*border: solid 1px blue;*/
}

.form-row input[type="text"], .form-row input[type="email"] {
  background-color: white;
  border: solid 1px black;
  border-radius: 6px;
  width: 68vw;
  padding: 1%;
  font-size: 14px;
  /*border: solid 1px green;*/
}

.form-row label {
  margin-bottom: 1px;
  margin-top: 1px;
  text-align: initial;
  color: black;
  font-weight: bold;
  /*border: solid 1px red;*/
}

.form-row textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  background-color: white;
  border: solid 1px black;
  border-radius: 6px;
  min-height: 100px;
  margin-bottom: 5%;
  /*padding: 7px;*/
  resize: none;
  width: 69vw;
}

.form-row button {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #5995da;
  border: none;
  border-radius: 5px;
  padding: 1% 1%;
  cursor: pointer;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 1%;
}

.form-row button:hover {
  background-color: #056605;
}

.form-row button:active {
  background-color: #f51339;
}

.alertas {
  color: red;
}
 /*Dispositivos moviles < 768px > dispositivos medianos > 1024px dispositivos grandes*/

@media (max-width: 767px) {
  body {
    width: 100vw;
    background-color: rgb(1, 52, 117);
  }

  .container{
    background-color: rgb(1, 52, 117);
    width: 100vw;
  }

  header {
    /*background-color: rgb(179, 199, 221);*/
    width: 100vw;
    height: 6%;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  header a i {        /* Icono coomputadora*/
    color: white;
    font-size: 230%;
    padding: 0em;    
    margin-left: 0.4em;
    /*border: solid 1px red;*/
  }

  .checkbtn {
    display: block;
    float: right;
    cursor: pointer;
    margin-left: 30%;
    font-size: 150%;
    color: white;
  }

  /*header ul {
    position: fixed;
    width: 100%;
    height: 80vh;
    background: #2c3e50;
    text-align: center;
    top: 60px;
    left: 100%;
    transition: all 0.5s;
    color: white;
  }*/

  .navbar {
    height: 0vh;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #021e3d;
    /*text-align: right;*/
    transition: all 0.5s;
    overflow: hidden;
    /*border: solid 3px yellow;*/
  }

  /*.navbar ul.menu1 {
    float: none;
    display: block;
    width: 174px;
    margin: 0 auto;
    opacity: 0;
    color: white;
  }  */

  /*.navbar ul.menu1 li a {
    color: white;
  }*/

  /*INICIO - Menu Mobile se crea la clase ACTIVE*/

   .navbar.active {
    height: auto;    
    width: 100%;
    border: solid 1px white;  
   }

   /*header nav ul {
    display: flex;
    flex-direction: column;
    color: aliceblue;
   }*/

   .navbar.active ul {
    opacity: 1;  
    display: flex;
    flex-direction: column;
    text-align: center;
    /*align-items: center;*/
    
   }

   /*.navbar.active ul.menu1 li {
    color: white;    
  }*/
  /*FIN - Menu Mobile se crea la clase ACTIVE*/

  /*.navbar.active ul.menu1 li a:hover {
    color: #b59a61;
  }*/

  /*#check:checked ~ ul {
    left: 0;
    display: block;
  }*/

  /*header nav ul li {
    display: block;
    margin: 30px;
    line-height: 30px;
  }*/

  /*header nav ul li a {
    font-size: 35px;
  }*/

  #check:checked ~ .checkbtn {
    color: red;
    /*display: none;*/
  }
 
  #seccion-principal {
    width: auto;
    height: auto;
    /*border: solid 5px green*/
    /*background-color: yellow;*/
  }
  .section-1 {
    width: auto; 
    background-color: rgb(1, 52, 117);
    /*color: black;*/
    /*flex-direction: row-reverse;*/
    flex-wrap:wrap-reverse;
    /*border: solid 2px red;*/
    padding-top: 15%;
    /*margin: 2em;*/
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .acerca-de{
    width: 100vw;
    margin-top: 5px;
    background-color: rgb(1, 52, 117);
    /*border: solid 2px red;*/
    color: white;
    font-size: 0.7em;
    align-content: center;
    justify-content: center;
    padding: 0em 1em 0em 1em;
  }

  .acerca-de p{
    text-align: justify;
    color: white;
  }

  .acerca-imagen{  /*Foto JHGR*/
    width: 20%;
    padding: 5%;
    align-content: center;
    /*border: solid 1px red;*/
  }

  .acerca-imagen img {
     align-content: center;
     /*border: solid 1px yellow;*/
     margin: auto;
     width: 100%;
  } 

  .acerca-de h2 {
    color:white;
    font-size: 2em;
    font-style:inherit;
    margin: 0em;
    text-align: center;
    /*padding: 0em 0.5em 0em 0em;*/
    /*border: solid 1px blueviolet;*/
  }

  #Bloque3 {
    /*background-color: black;*/
    /*border: solid 5px yellow;*/
    text-align: center;
  }

  #Bloque3 h2 {
    /*background-color: rgb(21, 7, 71);*/
    /*border: solid 5px black;*/
    text-align: left;
    font-size: 1.8em;
    padding-left: 15%;
    padding-right: 0em;
    padding-bottom: 0%;
  }

  .servicio_1 {
    /*border: solid 2px yellow;*/
    width: 100vw;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 0%;
    /*border: solid 1px yellow;*/
  }

  .servicio_1 .img3 {
    border: solid 1px white;
    width: 70vw;
    height: 90%;
    margin-top: 50px;
  }

  .descrip_1 {
    font-size: 60%;
    padding-left: 0%;
    padding-right: 0%;
    margin-bottom: 5%;
  }

  .servicio_2 {
  /*border: solid 2px yellow;*/
    width: 100vw;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    border-top: solid 1px white;
  }

  .servicio_2 .img3 {
    border: solid 1px white;
    width: 65vw;
    height: 90%;
    margin-top: 50px;
  }

  .descrip_2 {
    font-size: 60%;
    padding-left: 0%;
    padding-right: 0%;
    margin-bottom: 5%;
  }

  .servicio_3 {
    /*border: solid 2px red;*/
    width: 100vw;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    border-top: solid 1px white;
  }

  .servicio_3 .img3 {
    border: solid 1px white;
    width: 60vw;
    height: 90%;
    margin-top: 50px;
  }

  .descrip_3 {
    font-size: 60%;
    padding-left: 0%;
    padding-right: 0%;
    margin-bottom: 5%;
  }

  .section-2 {    
    border-bottom: solid 1px white;     
  }

  .section-2 img {
    /*width: 100%;
    height: auto;
    height: 50%;*/
    border-top: none;
    /*margin: 0px; */ 
  }

  .section-3 {
    flex-wrap: wrap;
    /*display: flex;*/
    /*align-content: center;*/
    /*justify-content: flex-start;  */
    background-color: rgb(1, 52, 117);
    margin: 0px;
    /*border: 0.2em solid red;*/
    width: 100%;
  }

  .section-4 {
    width: auto;
    height: auto;
    /*border: solid 1px yellow;*/
    /*border: none;*/
    border-top: solid 1px white;
    align-items: start;
  }

  .formulario {
    background-color: white;
    border-radius: 12px;
    border: solid 1px black;
    width: 60vw;
    padding: 1%;
    margin: auto;
  } 
  
/*  .form-row {
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  */

  .form-row input[type="text"], .form-row input[type="email"] {
    background-color: white;
    border: solid 1px black;
    border-radius: 6px;
    width: 85%;
    padding: 4%;
    margin: 3%;
    font-size: 65%;
  }

  .form-row label {
    margin-bottom: 1%;
    margin-top: 3%;
    margin-left: 4%;
    text-align: initial;
    color: black;
    /*border: solid 1px red;*/
    font-size: 75%;
    font-weight: bold;
  }
  
  .form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 70%;
    background-color: white;
    border: solid 1px black;
    border-radius: 6px;
    min-height: 100px;
    margin: 3%;
    padding: 3%;
    resize: none;
    width: 85%;
  }

  .form-row button {
    font-size: 85%;
    font-weight: bold;
    color: #ffffff;
    background-color: #5995da;
  
    border: none;
    border-radius: 5px;
  
    padding: 5%;
    cursor: pointer;
  
    margin-left: 20%;
    margin-right: 20%;
  }

  
  footer {
    background-color: black;
    width: auto;
    padding-bottom: 50px;
  }
}
